* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
picture,
figure {
   margin: 0;
}
